<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.collection_select :category_id, Category.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :job_type %><br />
    <% Job::JOB_TYPES.each { |value, name|  %>
        <%= f.label :job_type, name, :value => value %>
        <%= f.radio_button :job_type, value %>
    <% } %>
  </div>
 <div class="field">
    <%= f.label :logo %><br />
    <%= f.file_field :logo_file %>
  </div>
   <div class="field">
    <%= f.label :company %><br />
    <%= f.text_field :company %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :how_to_apply %><br />
    <%= f.text_field :how_to_apply %>
  </div>
  <div class="field">
    <%= f.label :is_public %><br />
    <%= f.check_box :is_public %>
  </div>
  <div class="field">
    <%= f.label :is_activated %><br />
    <%= f.check_box :is_activated %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
