<% content_for :styles do %>
    <%= stylesheet_link_tag "jobs", :media => "all" %>
<% end %>
<table class="jobs">
  <% @jobs.each do |job| %>
      <tr class="<%= cycle("even", "odd") %>">
        <td class="location"><%= job.location %></td>
        <td class="position">
          <%= link_to job.position, job %>
        </td>
        <td class="company"><%= job.company %></td>
      </tr>
  <% end %>
</table>