<% content_for :title do %>
    <%= @job.company %> is looking for a <%= @job.position %>
<% end %>
<% content_for :styles do %>
    <%= stylesheet_link_tag "job", :media => "all" %>
<% end %>
<div id="job">
  <h1><%= @job.company %></h1>
  <h2><%= @job.location %></h2>
  <h3>
    <%= @job.position %>
    <small> - <%= Job::JOB_TYPES[@job.job_type.to_sym] %></small>
  </h3>
  <% unless @job.logo.nil? %>
    <div class="logo">
      <a href="<%= url_for @job %>">
        <img src="/upload/jobs/<%= @job.logo %>"
             alt="<%= @job.company %> logo" />
      </a>
    </div>  
  <% end %>

  <div class="description">
    <%= @job.description %>
  </div>

  <h4>How to apply?</h4>

  <p class="how_to_apply"><%= @job.how_to_apply %></p>

  <div class="meta">
    <small>posted on <%= @job.created_at.to_formatted_s("m/d/Y") %></small>
  </div>

  <div style="padding: 20px 0">
    <%= link_to 'Edit', edit_job_path(@job) %>
    <%= link_to 'Back', jobs_path %>
    <%= link_to 'Remove', @job, :confirm => 'Are you sure?', :method => :delete %>
  </div>
</div>