<p id="notice"><%= notice %></p>

<p>
  <b>Job type:</b>
  <%= @job.job_type %>
</p>

<p>
  <b>Company:</b>
  <%= @job.company %>
</p>

<p>
  <b>Logo:</b>
  <%= @job.logo %>
</p>

<p>
  <b>Url:</b>
  <%= @job.url %>
</p>

<p>
  <b>Position:</b>
  <%= @job.position %>
</p>

<p>
  <b>Location:</b>
  <%= @job.location %>
</p>

<p>
  <b>Description:</b>
  <%= @job.description %>
</p>

<p>
  <b>How to apply:</b>
  <%= @job.how_to_apply %>
</p>

<p>
  <b>Is public:</b>
  <%= @job.is_public %>
</p>

<p>
  <b>Is activated:</b>
  <%= @job.is_activated %>
</p>

<p>
  <b>Email:</b>
  <%= @job.email %>
</p>

<p>
  <b>Created at:</b>
  <%= @job.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= @job.updated_at %>
</p>

<p>
  <b>Expires at:</b>
  <%= @job.expires_at %>
</p>


<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
